<?php

namespace Swimmer\Utils;

class Config {

	/** @var string base url of the endpoints */
	public const API_URL = 'https://doe.com/';

	/** @var string paths to various assets */
	public const MEDIA_PATH = 'assets/media/';
	public const IMAGE_PATH = 'assets/images/';
	public const MEDIA_URL = self::API_URL . self::MEDIA_PATH;
	public const IMAGE_URL = self::API_URL . self::IMAGE_PATH;

	/** @var bool */
	public const DEBUG = false;

	/** @var string where to send e-mails to when debugging forms */
	public const DEBUG_MAIL = 'john@doe.com';

	/** @var string database credentials */
	public const DB_HOST = '';
	public const DB_USER = '';
	public const DB_PASS = '';
	public const DB_NAME = '';
	public const DB_LINK = '';
}
